<table class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>Cpf</th>
        <th>Email</th>
        <th>Telefone</th>
        <th></th>
        <th></th>
    </thead>
    <tbody *ngFor="let pessoa of pessoas">
        <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cpf}}</td>
            <td>{{pessoa.email}}</td>
            <td>{{pessoa.telefone}}</td>
            <td> <i class="bi bi-pencil-square"></i> </td>
            <td> <i style="cursor: pointer;" class="bi bi-trash" (click)="clickDeletarPessoa(pessoa.id)"></i> </td>
        </tr>       
    </tbody>
</table>